<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    @Styles.Render("~/Content/bootstrap")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">OAuth Demo</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li @Html.Raw(Url.GetNavClass("Index", "Home"))>@Html.ActionLink("Home", "", "Home")</li>
                            <li @Html.Raw(Url.GetNavClass("About", "Home"))>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                        <ul class="nav pull-right">
                            <li @Html.Raw(Url.GetNavClass("Login", "Account"))>@Html.ActionLink("Login", "Login", "Account")</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
