@model JobDone.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", null, FormMethod.Post, new { @class = "", id = "manage-form" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, null, new { @class = "alert alert-error" })

  <fieldset>
    <div class="control-group">
      @Html.LabelFor(m => m.OldPassword)
      <div class="controls">
        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old password" })
        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" })
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.NewPassword)
      <div class="controls">
        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New password" })
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
      <div class="control">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm new password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Change password</button>
  </fieldset>
}
