@model ICollection<JobDone.Models.ExternalLogin>

@if (Model.Count > 0)
{
  <h3>Registered external logins</h3>
  <ul class="unstyled">
    @foreach (JobDone.Models.ExternalLogin externalLogin in Model)
    {
      <li>
        
        @if (ViewBag.ShowRemoveButton)
        {
          using (Html.BeginForm("Disassociate", "Account"))
          {
          @Html.AntiForgeryToken()
          <div>
            @Html.Hidden("provider", externalLogin.Provider)
            @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
            <button type="submit" class="btn  btn-danger" title="Remove this @externalLogin.ProviderDisplayName credential from your account">@externalLogin.ProviderDisplayName &nbsp;&nbsp;&nbsp;<i class="icon-trash"></i></button>
          </div>
          }
        }
        else
        {
          @: &nbsp;
                    }
      </li>
    }
  </ul>
}
