@model JobDone.Models.LocalPasswordModel

<div class="alert alert-info">
  You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</div>

@using (Html.BeginForm("Manage", "Account"))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, null, new { @class = "alert alert-error" })

  <fieldset>
    <div class="control-group">
      @Html.LabelFor(m => m.NewPassword)
      <div class="controls">
        @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.ConfirmPassword)
      <div class="controls">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Set password</button>
  </fieldset>
}
