@model oauthdemo.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", null, FormMethod.Post, new { @class = "", id = "manage-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
    <div class="control-group">
      @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
      <div class="control">
        @Html.TextBoxFor(m => m.OldPassword)
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
      <div class="control">
        @Html.TextBoxFor(m => m.NewPassword)
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
      <div class="control">
        @Html.TextBoxFor(m => m.ConfirmPassword)
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Change password</button>
  </fieldset>
}
