@model oauthdemo.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  <script>
    function boostrapHighlight(element, errorClass, validClass) {
      $(element).closest(".control-group").addClass("error");
      $(element).trigger('highlated');
    };

    function boostrapUnhighlight(element, errorClass, validClass) {
      $(element).closest(".control-group").removeClass("error");
      $(element).trigger('unhighlated');
    };

    $.validator.setDefaults({
      ignore: "",
      highlight: function (element, errorClass, validClass) {
        boostrapHighlight(element, errorClass, validClass);
      },
      unhighlight: function (element, errorClass, validClass) {
        boostrapUnhighlight(element, errorClass, validClass);
      }
    });
  </script>
}
